.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: transparent;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 1rem; 
}
